/*
    for my blog layout miniboots
    GreatBaron, 2023 Feb.2
    ver 0.1
*/

p{
	text-align: justify;
}

#Sphead {
    {% if page.header-img %}
    background-image: url("{{ header-img }}" );
    {% else %}
    background-image: url("{{ site.url }}/img/defaultHeaderImg.jpg" );
    {% endif %}
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 2px 2px 5px grey;
}
