---
layout: miniboots
title: GreatBaron
subtitle: 伯伦大人的个人站点
description:
---

<div class="container pt-5">
	<div class="row">
		<div class="col-sm-4">
			<div id="index-about">
				<h3>关于我</h3>
				<p>
					在下张伯伦，或谓吾曰“伯伦大人”、“GreatBaron”。
					在下行为举止端庄大方，体型昳丽，相貌英俊，气度非凡，指若春葱，齿似皓贝，面如重枣，目光如炬，声比黄钟，步若疾风。 天资聪慧，才思敏捷，智力过人，粗通音律，略晓诗词；国画素描，少有习之；二胡提琴，知其肯綮；泼墨	手谈，乐在其中； 园艺栽培，略知要领；中医理疗，自幼耳染；天文地理，多有钻研……<a href="https:/about">Read more about me...</a>				
				</p>
			</div>
			<div id="index-extra">
			<img class="img-fluid" src="img/defaultHeaderImg.jpg"/>
			<h3 class="pt-5">常用工具</h3>
			<ol class="container-fluid">
				<li><a href="JavaScript:void(0)">链接文字应当足够长使之适合视觉效果</a></li>
				<li><a href="JavaScript:void(0)">link</a></li>
				<li><a href="JavaScript:void(0)">link</a></li>
				<li><a href="JavaScript:void(0)">link</a></li>
				<li><a href="JavaScript:void(0)">link</a></li>
			</ol>
			<hr/>
				<h3>朋友链接</h3>
					<a href="https://www.douban.com/people/imalio/?_i=5669782e0oG591" target="_blank"><img class="img-fluid pt-1" src="img/DoubanLink.svg"/></a>
					<a href="JavaScript:void(0)"><img class="img-fluid pt-1" src="img/TwitterLink.svg"/></a>
					<a href="https://weibo.com/p/1005057595990240/home?from=page_100505&mod=TAB#place" target="_blank"><img class="img-fluid pt-1" src="img/WeiboLink.svg"/></a>
					<a href="JavaScript:void(0)"><img class="img-fluid pt-1" src="img/Instagram.svg"/></a>
					<p></p>
			</div>

		</div>
		<div class="col-sm-8">
			<div id="index-stati">
				<h3>最新动态</h3>
				{% assign stati = site.my_trends | reverse %}
				{% for status in stati | reverse %}
				<span>{{ status.content | strip_html | truncate:300}}</span>
				{% endfor %}
				<a href="/trends">更多动态</a></p>
			</div>
			<div id="index-blogs">
				<h3>我的博客</h3>
				<ul>
					{% for post in site.posts limit:7 %}
					<li>
						<a href="{{ post.url }}">{{ post.title }}</a><br />
						<span class="post-abstract">{{ post.content | strip_html | truncate:140 }}</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<!--
		TODO: more extra and their CSS
	-->
</div></div>
