---
layout: miniboots
title: 我的动态
subtitle: my status
description: 最新动态：
permalink: trends
author:	GreatBaron
---

{% assign stati = site.my_trends | reverse %}

{% for status in stati %}
	<div class="card">
	<div class="card-header bg-primary text-white">{{status.date | date_to_string}}
		{% if status.weather %}<span style="display:inline-block">天气：{{status.weather}} </span>{% endif %}
		{% if status.feeling %}<span style="display:inline-block">心情：{{status.feeling}} </span>{% endif %}		
	</div>
  <div class="card-body">
    <h4 class="card-title">{{status.author}}</h4>
    <p class="card-text">{{ status.output | truncatewords: 300,""}}
    <a href="{{status.url}}" class="card-link">……查看</a></p>
  </div>
	<div class="card-footer">
		{% if status.cata %}{{status.cata}}{% endif %}
	</div>
</div><p></p>
{% endfor %}
