---
layout: miniboots
title: 我的动态
subtitle: my status
description: 最新动态：
permalink: trends
---

{% for status in site.my_trends %}
	<div class="card">
	<div class="card-header bg-primary text-white">{{status.date | date_to_string}}
		{% if status.weather %}天气：{{status.weather}} {% endif %}
		{% if status.feeling %}心情：{{status.feeling}} {% endif %}		
	</div>
  <div class="card-body">
    <h4 class="card-title">{{ status.title}}</h4>
    <p class="card-text">{{ status.output }}</p>
    <a href="{{status.url}}" class="card-link">卡片链接</a>
  </div>
	<div class="card-footer">
		CATA: {{status.cata}}
	</div>
</div>
{% endfor %}

<ul>
{% for status in site.my_trends %}
    <li><span>{{ status.content | strip_html | truncate:300}}</span></li>
{% endfor %}
</ul>

:smile:
:bad:
