---
layout: miniboots
title: 我的博客
subtitle: My Blogs
header-img: 'https://images.pexels.com/photos/851213/pexels-photo-851213.jpeg'
description: Rem tene, verba sequentur. —— M.P.Cato
---

<!-- 遍历分页后的文章 -->
<ul class="posts">
{% for post in paginator.posts %}
  <li><span class="date">{{ post.date | date_to_string }}</span> &raquo; 
    	<a href="{{ post.url }}">{{ post.title }}</a>
	</li>  
{% endfor %}
</ul>

<!--分页链接，处理page1的异常-->
{% if paginator.total_pages > 1 %}
<div class="pagination">
	<ul class="pagination">
  {% if paginator.previous_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% else %}
    <li class="page-item disable"><a class="page-link" href="JavaScript:void(0)">&laquo; Prev</a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="page-item active"><a class="page-link" href="JavaScript:void(0)">{{ page }}</a></li>
    {% elsif page == 1 %}
      <li class="page-item"><a class="page-link" href="{{site.baseurl}}/blog">{{ page }}</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="{{site.baseurl}}/blog/page{{page}}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li class="page-item disable"><a class="page-link" href="JavaScript:void(0)">Next &raquo;</span></a>
  {% endif %}
	</ul>	
</div>
{% endif %}

<p></p>
<a href="{{site.baseurl}}/tags"><i class="bi bi-tags"></i> 点击此处按分类标签检阅</a>
