---
layout: miniboots
title: 我的博客
subtitle: My Blogs
header-img: https://FameAndFarm.github.io/img/pic-bg-ship.jpg
description: Rem tene, verba sequentur. —— M.P.Cato
---

<!-- all posts
<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
  {% endfor %}    
</ul>
-->

<!-- 遍历分页后的文章 -->
<ul class="posts">
{% for post in paginator.posts %}
  <li><span class="date">{{ post.date | date_to_string }}</span> &raquo; 
    	<a href="{{ post.url }}">{{ post.title }}</a>
	</li>  
{% endfor %}
</ul>

<!-- old分页链接
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/blog/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
 -->

<!--分页链接，处理page1的异常-->
{% if paginator.total_pages > 1 %}
<div class="pagination">
	<ul class="pagination">
  {% if paginator.previous_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% else %}
    <li class="page-item disable"><a class="page-link" href="JavaScript:void(0)">&laquo; Prev</a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="page-item active"><a class="page-link" href="JavaScript:void(0)">{{ page }}</a></li>
    {% elsif page == 1 %}
      <li class="page-item"><a class="page-link" href="{{site.baseurl}}/blog">{{ page }}</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="{{site.baseurl}}/blog/page{{page}}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li class="page-item disable"><a class="page-link" href="JavaScript:void(0)">Next &raquo;</span></a>
  {% endif %}
	</ul>	
</div>
{% endif %}

<p></p>
<a href="{{site.baseurl}}/tags">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 16 16">
  <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
  <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
	</svg>
	点击此处按分类标签检阅
</a>
