<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/forPP.css">
    <link rel="shortcut icon" href="{{ site.url }}/game/faviconPP64px.png">
  </head>
  
  <header>
    <img src="/game/logo-PP300px.png" style="position:relative;float:right;"/>
    <h1>为了国家，拜托啦！</h1>
    <h2>Polis,Please!</h2>
   </header>


  <body>
    <nav>
      <div class="router">
<ul class="router">
<li><a href="/game/PP.html">主页</a></li>
<li><a href="/game/PP.html">简介</a></li>
<li><a href="/game/PP_unit.html">单位</a></li>
<li><a href="/game/PP_hero.html">英雄</a></li>
<li><a href="/game/PP_tec.html">技术节点</a></li>
<li><a href="/game/PP_card.html">卡片</a></li>
<li><a href="/game/PP_item.html">物品</a></li>
<li><a href="/game/PP_work.html">文艺品</a></li>
<li><a href="/game/PP_luxury.html">奢侈品</a></li>
<li><a href="/game/PP_ide.html">思想</a></li>
</ul>
      </div>
    </nav>
    
    <h1 class="topheading">{{ page.title }}</h1>
    <h2 class="subheading">{{ page.subtitle }}</h2>
    <h2 class="desheading">{{ page.description }}</h2>
    <hr>
    
<div class="container">

  {{ content }}

</div>
  
  <footer>
      <div class="copyrightlines" style="text-align: center;color:slategrey;font-family:'Times New Roman', Times, serif;margin:100px 0px 0px 0px;">©GreatBaron,2019,All Rights Reserved.</div><br/>
   <ul style="text-align: center;">
   <li><a href=#><img src="{{ site.url }}/img/minicon-email_16px.png">email</a></li>
   <li><a href="https://github.com/AndrewImalion"><img src="{{ site.url }}/img/minicon-GitHub_16px.png">GitHub</a></li>
   </ul>
  </footer>
  </body>

</html>
