<!DOCTYPE html>
<!-- copyright GreatBaron,2019. All Rights Reserved -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head> 
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/magi.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/Latin.css">
    <title>{{ page.title }}</title>
</head>
<body>
<div id="maincon">

{{ content }}

</div>
<hr/>
字数：<span id="num"></span>
<footer>
    <div style="text-align: center;"><a href="{{ site.url }}/">返回主页</a></div>
   <div class="copyrightlines" style="text-align: center;color:slategrey;font-family:'Times New Roman', Times, serif;margin:100px 0px 0px 0px;">©GreatBaron,2019,All Rights Reserved.</div><br/>
   <ul style="text-align: center;display:inline;">
   <li><a href=#><img src="{{ site.url }}/img/minicon-email_16px.png">email</a></li>
   <li><a href="https://github.com/AndrewImalion"><img src="{{ site.url }}/img/minicon-GitHub_16px.png">GitHub</a></li>
   </ul>
</footer>
</body>
</html>

<script  Charset="gb2312" Type="Text/JavaScript" Language="JavaScript" src="https://andrewimalion.github.io/asset/magibase.js"></script>
