<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.url }}/img/favicon.ico">

		<style>
			#Sphead {
				background-image: url("{{ site.url }}\/img\/for404.jpg");
				background-position: center 0;
				background-repeat: no-repeat;
				background-attachment: fixed;
	@@ -20,39 +25,85 @@


<body>
<div class="p-5 text-white text-center" id="Sphead">
  <h1>{{ page.title }}</h1>
	{% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %} 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link active" href="/">主页</a></li>
			<!--
      <li class="nav-item"><a class="nav-link active" href="#">活动</a></li>
      <li class="nav-item"><a class="nav-link" href="#">链接</a></li>
      <li class="nav-item"><a class="nav-link" href="#">链接</a></li>
      <li class="nav-item"><a class="nav-link disabled" href="#">禁用</a></li>
			-->
    </ul>
  </div>
</nav>

<div class="container">
	{% if page.description %}
	<div class="text-info"><p>{{ page.description }}</p></div>
	{% endif %}
  {{ content }}
</div>


<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>©GreatBaron 2023,All Rights Reserved.</p>
	<a href="mailto:fantasyregina@foxmail.com" target="_blank">&#128231;email</a>
	<a href="https://github.com/AndrewImalion">&#128100;GitHub</a>
</div>

</body>

</html>
