<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
  </head>


  {{ content }}



  
  <footer>
      <div class="copyrightlines" style="text-align: center;color:slategrey;font-family:'Times New Roman', Times, serif;margin:100px 0px 0px 0px;">©GreatBaron,2019,All Rights Reserved.</div><br/>
   <ul style="text-align: center;margin: 20px auto 40px; font-size: 1.5em;">
   <li style="list-style: none;"><a href=#><img src="{{ site.url }}/img/minicon-email_16px.png">email</a></li>
   <li style="list-style: none;"><a href="https://github.com/AndrewImalion"><img src="{{ site.url }}/img/minicon-GitHub_16px.png">GitHub</a></li>
   </ul>
  </footer>


</html>
