<!DOCTYPE html>
<!-- copyright GreatBaron,2019. All Rights Reserved -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head> 
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/magi.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/Spanish.css">
    <title>My HTML</title>
</head>
<body>
<div id="maincon">

{{ content }}

</div>
<hr/>
字数：<span id="num"></span>
</body>
</html>

<script  Charset="gb2312" Type="Text/JavaScript" Language="JavaScript" src="https://andrewimalion.github.io/asset/magibase.js"></script>
